.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
}
